.contact-preview {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    > * {
        padding: 15px;
    }

    h2 {
        font-size: em(18px, 16px);
        margin-bottom: 5px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgb(236, 236, 236);
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }

    &:hover .actions {
        opacity: 1;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 5px;
        opacity: 0;
        transition: 0.1s;

        a,
        button {
            border: 0;
            background-color: transparent;
            padding: 0;
            border-radius: 50%;
            padding: 10px;

            &:hover {
                background-color: rgb(232, 232, 232);
            }
        }
    }

    // .preview-info {
    //     position: relative;
    //     padding-top: 10px;

    //     main {
    //         padding-top: 3px;
    //         padding-bottom: 10px;
    //         overflow: hidden;
    //         width: 200px;
    //     }
    //     p {
    //         margin: 0;
    //         font-size: em(16px, 16px);
    //     }

    //     .rate {
    //         right: 0;
    //         top: 2px;
    //         display: flex;
    //         align-items: center;
    //     }
    //     .review-length {
    //         color: #7c7c7c;
    //     }

    //     .price {
    //         &-label {
    //             font-weight: bold;
    //             background-color: transparent;
    //         }
    //     }
    //     .location {
    //         padding-top: 2px;
    //         display: flex;
    //         justify-content: space-between;
    //     }
    //     .contact-name,
    //     .date {
    //         color: #7c7c7c;
    //     }
    //     .contact-name {
    //         text-overflow: ellipsis;
    //         overflow: hidden;
    //         white-space: nowrap;
    //     }
    // }

    // .heart-btn {
    //     position: absolute;
    //     top: 15px;
    //     right: 15px;
    //     z-index: 1;

    //     &.mark {
    //         fill: red !important;
    //     }
    // }

    // &:hover {
    //     .carousel__prev,
    //     .carousel__next {
    //         opacity: 1;
    //     }
    // }
}
